*{
  margin: 0;
  padding: 0;
}
video{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  overflow-y: hidden;
}
body{
  overflow: hidden;
}
.todo-app h2{
  display: flex;
  text-align: center;
  color: white;
}
.head{
  color: white;
  text-align: center;
  position: relative;
  top: 90px;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
}
.container{
  width: 100%;
  min-height: 100vh;
  padding: 10px;
}
.todo-app{
  width: 100%;
  max-width: 540px;
  background: transparent;
  margin: 100px auto 20px;
  padding: 40px 30px 70px;
  border-radius: 10px;
}
.todo-app h2{
  color: black;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.row{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgb(144, 153, 144);
  border-radius: 30px;
}
input{
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;

}
input[type="text"]{
  font-size: 20px;
  color: black
  
 
}
::placeholder{
  color: black;
  opacity: 0.8;
}
button{
  border: none;
  outline: none;
  padding: 16px 50px;
  margin: 5px;
  background: black;
  color: white;
  font-size: 20px;
  border: 1px solid black;
  border-radius: 40px;
  cursor: pointer;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
button:hover{
  zoom: 103%;
}
ul li{
  list-style: none;
  font-size: 30px;
  color: aqua;
  font-family: 'Times New Roman', Times, serif;
  padding: 12px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
  position: relative;
  border: 3px solid black;
  border-radius: 15px;
  margin: 15px;
}
ul li::before{
  content : '';
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius:50% ;
  background-image: url(./images/unchecked.png);
  background-size: cover;
  background-position: center;
  top: 12px;
  left: 8px;



}
ul li.checked{
  color: red;
  text-decoration: line-through;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
ul li.checked::before{
  background-image: url(./images/checked.png);
}
ul li span{
  position: absolute;
  right: 0 ;
  top: 5px;
  width: 40px;
  height: 40px;
  font-size: 40px;
  color: white;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
}
ul li span:hover{
   background: black;
}
@media only screen and (max-width :600px){
  .container{
    /* width: 50%; */
    orientation: landscape;

  }
  button{
    position: relative;
    left: -90px;
  }
  body{
    overflow: hidden;
  }
}

